logs
*.log
npm-debug.log*
node_modules
dist
*.local
.vscode
.expo
!.vscode/extensions.json
web-build/
*.db
expo-env.d.ts
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
npm-debug.*
.DS_Store
*.pem
*.tsbuildinfo
/ios
/android
uv.lock

.env
__pycache__
downloads
zext
sample.json
localhost.session.sql
temp

